@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<Counter
    IncrementAmount="1"
    Names="@(new string[]{"Tesla", "Coil", "Anderson"})"
    Basket="@currentBasket"
/>

@code {
    private List<string> currentBasket = new List<string> { "Grapes", "Sugar", "Salt", "Soy Sauce" };

}
