.flex-elem {
  display: flex;
  gap: 1rem;
}

.flex-elem.-col {
  flex-direction: column;
}


.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}
